@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/yorick3" target="_blank" class="ml-md-auto">© 2020 - yorick3</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
